@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
 body{
    font-family: 'Poppins', sans-serif;
    background-color: #E5E5E5
 }
 @media (max-width:900px){
    .my-slide img{
       height:500px;
    } 
 }
 


 