@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
 body{
    font-family: 'Poppins', sans-serif;
    
 }
 header{
   background-color: #E5E5E5;
 }
 
 .highlight-card{
    border-radius: 25px;
    height: 480px;
    width: 292px;
    position:relative;
    bottom: 70px;
    margin-right: 15px;
    
 }
 
 
 .filled-icon{
    height:22px;
    width:22px ;
    border-radius:50%;
    background-color: rgba(211, 211, 211, 0.253);
    padding: 3px;
    color: #3F87F5;
    margin: 2px 10px 0 0;
 }
 .highlight-icon{
   height:22px;
   width:22px ;
   border-radius:50%;
   background-color:rgb(40, 157, 196);
   padding: 3px;
   color:white;
   margin: 2px 10px 0 0;
}
 .bg-button{
   background-color:rgba(244, 150, 210, 0.247);
   color: #3F87F5;
   font-weight: 700;
   padding: 10px 15px;
   width: 100%;
   margin-top: 15px;
 }
 .highlight-btn{
   background-color:white;
   color: #3F87F5;
   font-weight: 700;
   padding: 10px 15px;
   width: 100%;
   margin-top: 15px;
 }
 @media (max-width:900px){
    .my-slide img{
       height:500px;
    } 
 }
 @media (max-width:990px){
   .highlight-card{
      margin-top: 100px;
   }
}
 


 